<h1>Add New Supplier</h1>

<form class="" action="/suppliers" method="post">
<div>

    <div>
      <label for="supplier_name">Name: </label><br>
      <input id="supplier_name" type="text" name="supplier_name" />
    </div><br>

    <div>
      <label for="contact_name">Contact: </label><br>
      <input id="contact_name" type="text" name="contact_name" />
    </div><br>

    <div>
      <label for="location">Location: </label><br>
      <input id="location" type="text" name="location" />
    </div><br>

    <div>
      <input type="submit" value="save details" />
    </div>

</div>
</form>
