<h1>Add New Supplier</h1>

<form class="" action="/suppliers" method="post">
<div class="form-wrapper">

    <div class="form-el">
      <label for="supplier_name">Name: </label>
      <input id="supplier_name" type="text" name="supplier_name" />
    </div>

    <div class="form-el">
      <label for="contact_name">Contact: </label>
      <input id="contact_name" type="text" name="contact_name" />
    </div>

    <div class="form-el">
      <label for="location">Location: </label>
      <input id="location" type="integer" name="location" />
    </div>

    <div class="form-el">
      <input type="submit" value="add supplier" />
    </div>

</div>
</form>
