<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Shopkeeper</title>
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  </head>

  <body>

    <nav class="sidenav">
    <ul>
      <li>
        <a href="/">Dashboard</a>
      </li>
      <li>
        <a href="/orders">Orders</a>
      </li>
      <li>
        <a href="/customers">Customers</a>
      </li>
      <li>
        <a href="/products">Inventory</a>
      </li>
      <li>
        <a href="/suppliers">Suppliers</a>
      </li>
    </ul>
  </nav>

  <section class="content">
  <%= yield %>
  </section>

  <!-- <footer class="footer">
    Copyright © 2019 ShopKeeper
  </footer> -->

  </body>
</html>
