form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 4px;
}

select, option {
  width: 50%;
  padding: 12px;
  padding-top: 20px;
  margin: 0;
  border: 1px solid #ccc;
}

input[type=text], select {
  width: 50%;
  margin: 0;
  padding: 12px;
  border: 1px solid #ccc;
}

input[type=text], input {
  font-size: 24;
  text-align: left;
}

input[type=textarea], select {
  width: 50%;
  max-height: auto;
  overflow: hidden;
  margin: 0;
  border: 1px solid #ccc;
}

input[type=integer], select {
  text-align: center;
  width: 20%;
  padding: 14px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
