<h1>Add New Customer</h1>

<form action="/customers" method="post">
<div>

    <div>
      <label for="first_name">First name: </label><br>
      <input id="first_name" type="text" name="first_name" />
    </div><br>

    <div>
      <label for="last_name">Last Name: </label><br>
      <input id="last_name" type="text" name="last_name" />
    </div><br>

    <div>
      <label for="address_1">Address 1: </label><br>
      <input id="address_1" type="text" name="address_1" />
    </div><br>

    <div>
      <label for="address_2">Address 2: </label><br>
      <input id="address_2" type="text" name="address_2" />
    </div><br>

    <div>
      <label for="town_city">Town/city: </label><br>
      <input id="town_city" type="text" name="town_city" />
    </div><br>

    <div>
      <label for="postcode">Postcode: </label><br>
      <input id="postcode" type="integer" name="postcode" />
    </div><br>

    <div>
      <input type="submit" value="save details" />
    </div>

</div>
</form>
